body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
}

.container {
  height: auto;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #23252c;
}
.inner-container {
  margin: 44px 117px;
  /*  */
}

.info-container {
  background-color: #1a1b21;
}

.info-img {
  height: 317px;
  width: 317px;
  object-fit: cover;
}
.info-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
}
.info-item {
  margin: 0;
}

#info-name {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin: 21px 0 6px 0;
}

#info-work {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #f3bf99;
}

#info-site {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #f5f5f5;
  margin: 8px 0 15px 0;
}

.info-button {
  display: flex;
  justify-content: center;
  gap: 17px;
}

.info-btn {
  height: 34px;
  width: 115px;
  border-radius: 6px;
  padding: 9px 13px 9px 11px;
  display: flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.info-btn:hover {
  transform: scale(1.09);
}

.button-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.info-btn-icon {
  width: 16px;
  height: 16px;
}
#info-linkedin {
  background-color: #5093e2;
  color: #ffffff;
}

/* about js css */
.about-container {
  background-color: #1a1b21;
  padding: 33px 35px 2px 35px;
}

.about-head {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #f5f5f5;
}
.about-detail {
  margin-top: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #dcdcdc;
}

/* interest css*/
.interest-container {
  background-color: #1a1b21;
  padding: 0px 35px 27px 35px;
}
.interest-head {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #f5f5f5;
}

.interest-detail {
  margin-top: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #dcdcdc;
}

/* footer */
.footer-container {
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
}

.social-icon {
  width: 25px;
  height: 25px;
  transition: all 250ms ease-in-out;
}

.social-icon:hover {
  transform: scale(1.09);
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 0;
  gap: 24px;
}
